/* ===== SEARCH ===== */
.search-input-wrapper {
  background: red !important;
  height: 200px !important;
}
.search-root {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  position: relative;
}

.search-box {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  background: #2b2b2b;
  border-radius: 14px;
}

.search-box:focus-within {
  box-shadow: 0 0 0 2px #4caf50;
}

.search-icon {
  opacity: 0.6;
  font-size: 1.1rem;
}

.main-search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}

.main-search-input::placeholder {
  color: #999;
}

/* ===== SUGGESTIONS ===== */

.suggestions-list {
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  background: #1e1e1e;
  border-radius: 12px;
  padding: 6px;
  margin: 0;
  list-style: none;
  max-height: 280px;
  overflow-y: auto;
  z-index: 999;
}

.suggestion-item {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #333;
}

.s-title {
  color: #fff;
  font-weight: 600;
}

.s-separator {
  color: #777;
}

.s-artist {
  color: #aaa;
  font-size: 0.9rem;
}

/* ===== LOADER ===== */

.loader-mini {
  width: 16px;
  height: 16px;
  border: 2px solid #444;
  border-top: 2px solid #4caf50;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}